<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

In [ ]:
from helpers import *

import seaborn as sns
sns.set()

import matplotlib.pyplot as plt
%matplotlib inline

# Data Analysis with Pandas
This notebook will do a deeper dive into the `pandas` library and show how to use pandas along with seaborn/matplotlib to analyze a full dataset.

## Data source

This dataset has been saved to this directory as **"500_Person_Gender_Height_Weight_Index.csv"**. It originally came from [Kaggle](https://www.kaggle.com/yersever/500-person-gender-height-weight-bodymassindex/data).

#### TODO
We'll start by reading in the csv file containing the data. Pandas can read files of a number data types. First, import pandas with the alias `pd`.

In [ ]:
import pandas as pd

Next, we need to tell pandas where to find our data source. This dataset is saved as a comma-separated values (csv) file in the following location:

`../data/500_Person_Gender_Height_Weight_Index.csv`

A **filepath** like the one above tells your program where to find a file on your machine. This filepath means:
- `..`: Go up one folder/directory
- `../data/`: Go to the folder called `data`
- `../data/500_Person_Gender_Height_Weight_Index.csv`: In the data folder, look for a file called **"500_Person_Gender_Height_Weight_Index.csv"**

#### TODO
Using the appropriate pandas function (see the previous notebook), pass in the filepath as a string. Save the resulting object as a variable called `df`.

In [ ]:
df = pd.____("____")

Now, let's get a sense of our dataset. The method `df.head()` subsets the first 5 rows of a DataFrame and can give us a quick look at the data structure.

#### TODO
Take a look at the first 5 rows of the dataset. What variables are in it? What data types are they? What would be some useful summary statistics to analyze this dataset?

In [ ]:
df.head()

#### TODO
Which of the variables appear to be **categorical** variables? What do the values in these columns mean?

**Hint**: Look at the Kaggle link above if you need some additional information about a column.

In [ ]:
# QUIZ CATEGORICAL
quiz_categorical

#### TODO
Calculate summary statistics for all of the numeric columns in the dataset. Then calculate the min, max, and mean values for **Height**.

In [ ]:
df.describe()

In [ ]:
# Mean
df[____].mean()

In [ ]:
# Min
df["Weight"].____()

In [ ]:
# Max
df[___].____()

## Aggregating by Variables
We can call methods on the columns of a DataFrame to do additional analysis on specific variables. Let's look at two categorical variables: **Gender** and **Index**. With categorical variables, we might want to get the count of rows where the variable takes on a certain value. For example, how many rows are **Male** vs. **Female**? What are the average height and weight within these two categories?

One way to do this is by using the `groupby` method. This **aggregates** the dataframe by a variable (such as **Gender**) and then calculates statistics within each category. 

**Note**: This is the equivalent in SQL of using  `GROUP BY` clause. We'll learn more about that tomorrow.

The syntax for a pandas group by is:

`df.groupby("column_name").agg_function()`

where `agg_function()` is a function which calculates a summary statistic of interest.

For example, one aggregate function is `size()`, which calculates the number of rows in each category:

In [ ]:
df.groupby("Gender").size()

#### TODO
Calculate the number of people within each level of **Index**. Then answer the quiz question below.

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_index_0_3

We can also group by multiple variables:

In [ ]:
df.groupby(["Gender", "Index"]).size()

If we group by a categorical variable, we can then analyze the distribution of numeric columns within each category. To do that, we have to first group by our grouping variable, access the numeric column, and then call the aggregate statistic.

In [ ]:
df.groupby("Gender")["Height"].mean()

In [ ]:
df.groupby("Gender")["Height"].median()

Just like with a normal DataFrame, we can access multiple columns and perform multiple aggregations at once.

In [ ]:
df.groupby("Gender")[["Height", "Weight"]].describe()

#### TODO
Group the dataset by **Index** and look at the distribution of **Height** and **Weight** within each category. The find the following values and put your answers in the subsequent quizzes:
- The mean height for subjects with an Index of **3**
- The median height for subjects with an Index of **5**
- The max height for a female subject with an index of 0

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_mean_height_index3

In [ ]:
df.groupby("Index")["Height"].median()

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_median_weight_index5

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_max_height_f0

### Visualization with `pandas`
We can use `matplotlib` and `seaborn` to plot data from a DataFrame. In addition, pandas has a few out-of-the-box methods that are helpful visualizing a dataset.

One example is plotting **histogram** of the values in a column:

In [ ]:
df["Weight"].hist()

#### TODO
Plot a histogram of the **Index** column to see how many individuals are in each group.

In [ ]:
hint_hist_index

In [ ]:
df["Index"].hist()

We can plot a **box plot** to see how the numeric columns are distributed within a categorical variable. For example, the code below first groups by **"Index"** and puts those on the x-axis, then plots the distribution of height and weight on the y-axis. What patterns does this visualization reveal?

In [ ]:
df.plot.box("Index")

We could also plot individual pairs using `seaborn`:

In [ ]:
sns.boxplot(x="Index", y="Height", data=df)

In [ ]:
sns.boxplot(x="Index", y="Weight", data=df)

#### TODO
Plot box plots of height and weight with **"Gender"** on the x-axis. Use either `seaborn` or `pandas`.

**NOTE FOR ALEC: ADD HINT**

We can also plot two columns against each other in a scatterplot. This is helpful for assessing if there is any correlation between the two variables.

In [ ]:
df.plot.scatter(x="Height", y="Weight")

We can also quantify this correlation with the `.corr()` method. What does this value and the plot above tell you about the correlation of height and weight? Does that surprise you?

In [ ]:
df["Height"].corr(df["Weight"])

It can useful to break the data up into subgroups to see if any of the trends differ.

#### TODO
Let's see if there is the correlation between height and weight looks any different in different `Index` groups. For each of levels **1**, **3**, and **5**, create a new DataFrame which is filtered to only include patients within that group. Then create a scatter plot of height and weight within each group and calculate the correlation.

In [ ]:
# RUN CELL TO SEE HINT
hint_output_hw_scatter

In [ ]:
df_index1 = ____
df_index3 = ____
____ = ____

## Creating new columns
We can also add new columns to a DataFrame, often constructed using the other variables.

We can create a new column by saying:
```python
df["column_name"] = value
```

The value value a single scalar, a list, a series, etc. Unless it's a scalar, it needs to be the same length as the DataFrame.

#### TODO
Square the **Height** column of `df` and save it as a new column called `"height_sqrd"`

In [ ]:
df["____"] =  ____

In [ ]:
# RUN CELL TO TEST VALUE
test_df_height_sqrd.test(df)

In [ ]:
df.head()

Let's use the height and weight columns to create a new column with **BMI** measurements. BMI is calculated from height and weight using this equation:

$$BMI = \frac{Weight (kg)}{Height (m) ^ 2}$$

#### TODO
To get the BMI measurement, we'll need to go through a few steps:
1. Convert **Height** from centimers to meters. We'll save this as a new variabled called `height_m`
2. Square the **Height in meters** column. Save this as a variable `height_m_sqrd`
3. Divide the **Weight** column by the **Height in meters** column. Save this as a variabled called `bmi`
4. Assign the result to a new column in `df` called `"bmi"` and plot it in a histogram.

In [ ]:
# Convert from centimeters to meters
height_m = ____
height_m

In [ ]:
# Square height in meters
____ = ____
height_m_sqrd

In [ ]:
# Calculate BMI
____ = ____ / ____
df["bmi"]

In [ ]:
# Plot

In [ ]:
# RUN CELL TO TEST VALUE
test_bmi.test(df["bmi"])