<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="45%"><img src="../media/Univ-Utah.jpeg"><br>
</td>
    <td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">University of Utah<br>Population Health Sciences<br>Data Science Workshop</font></h1></td>
<td valign="center" align="center" width="45%"><img
src="../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# 1. Python Essentials
We'll start by learning some of the essentials of Python, as well as how to use Jupyter Notebooks.

# I. Jupyter Notebooks
Jupyter Notebooks are an environment which can be used for running code, displaying results and visualizations, and sharing human-readable information. Jupyter notebooks consist of *cells* and each cell defines a single piece of code. 

The cell which you're reading now is called a *Markdown* cell: It is meant to be human-readable and allows formatting like:
- Bullted or numbered lists
- **bold text**
- *italics*

Double-click on this cell to see what the raw markdown looks like. Then press `"Run"` or hit "Shift+Enter" to re-execute the cell so it renders in your browser.

The other main cell type is the **Code** cell. This contains executable Python code. When you run a code cell, it will execute the code within and display the output. This way, you can go through a notebook a run code step-by-step and inspect the output.

You can change a cell type by clicking the dropdown menu above which says **"Markdown"**. To make it a Python cell, select **"Code"**.

In [ ]:
print("This is a code cell.")

Inside of a code cell, you can write **comments** by putting a `#` symbol before text. Anything on the line after a `#` will not be executed and is just there for humans to read it.

In [ ]:
# This line won't run
print("But this one will!") # (but nothing after this)

#### TODO
Run the cell below. Make sure it runs successfully, otherwise you'll get errors later in the notebook!

In [ ]:
from helpers import *

### TODO
Change the cell below to be a code cell. Then modify the code so the `print` statement will execute. Run the cell by hitting either the `"Run"` button above (looks like a "play" button") or hitting "Shift+Enter".

# print("Hello, there!")

Note that in the code cell above, when we execute the cell it runs the single line of code and then displays the output underneath.

To create a new cell, press the **"+"** buttom in the menu. The default cell type is **Code**.

### TODO
Create two new cells below. Make the first cell a Markdown cell. Copy and paste the following text into the Markdown cell and edit it with your information. Run the cell. Notice how the formatting of the text is rendered once you execute the cell.

```
- **First Name**: your first name
- **Last Name**: your last name
- **Major**: Your department
```

Then, make the second cell a Code cell. Copy and paste the following code and execute it:

```
print("1 + 2 = ", 1 + 2)
```

## Errors
Errors tell you that something in the code was incorrect and either couldn't run or failed some check that the developer put in. They aren't always pleasant, but you're going to see a lot of them, so we might as well get familiar with them!

There are several different types of errors you'll come across. Let's see some examples and learn how to understand them.

The most common is a **syntax error**. This tells you that you've made a mistake in the syntax of your code. The code below needs parentheses around `x`. Read the message at the bottom.

In [ ]:
print 1

In [ ]:
print(1)

Another common error is `NameError`. That means you haven't defined a variable yet, or maybe you misspelled something.

In [ ]:
# Throws an error
x

In [ ]:
# Runs successfully
x = 3
x

In [ ]:
# Throws an error
my_vriable = 2
my_variable

In [ ]:
# Runs successfully
my_variable = 2
my_variable

# Functions

#### What is a function?
One of the most important concepts in Python programming is **functions**. Functions are what will allow us to take input (e.g., data) and produce some sort of output (e.g., summary statistics) which are useful to us.


#### Examples of functions

You already saw one example of a function earlier called `print`. This function takes a message and "prints" it out for the user to see. The message we printed out below was *Hello, world!*

#### TODO
Print your name in the cell below.

In [ ]:
print("____")

The syntax for using a function is:

```python
function_name(arg1, arg2, ...)
```

- Type the function name
- Pass in any **arguments** or **parameters** in parentheses (sometimes there aren't any arguments!). 

You can print mutliple different phrases by passing multiple arguments into `print`:

In [ ]:
print("My name is", "Alec", "B.", "Chapman")

The `print` function, and a number of other functions, are loaded by default. Another useful funtion is `help`, which gives us information about how to use a function:

In [ ]:
help(print)

In [ ]:
help(help)

We'll learn how to write our own functions later, but first let's get some practice using functions.

#### TODO

Here are a few examples of functions that have been defined for you:
- `square(x)`: Squares a number
- `add(x, y)`: Add x and y together
- `print_name(first_name, last_name, middle_name=None)`: Prints "My name is", followed by your first/last name and optional middle initial (we'll talk more about optional arguments later)

Using these functions, do the following:
1. Calculate the square of 2
2. Add 3 and 5
3. Add 3 and 5 and square the result
4. Print out your name

In [ ]:
# Calculate the square of 2
square(__)

In [ ]:
# Add 3 and 5
add(__, 5)

In [ ]:
# Add 3 and 5, then square the result
__

In [ ]:
# Print your name
print_name(____)

### Positional and Keyword Arguments
There are two ways of providing arguments to functions: **positional** and **keyword** arguments. Positional arguments need to follow the right order for Python to know which argument is which. Keyword arguments are specified with a name. 

For example, we saw above that the function `print_name` takes three arguments - `first_name`, `last_name`, and `middle_name`:

`print_name(first_name, last_name, middle_name=None)`

You could call this function with each argument as a positional argument:

In [ ]:
print_name("Alec", "Chapman", "B.")

Or with each as keyword arguments (in whatever order you like):

In [ ]:
print_name(first="Alec", middle="B.", last="Chapman")

Or some other combination:

In [ ]:
print_name("Alec", last="Chapman", middle="B.")

However, you **can't** have positional arguments follow keyword arguments. Once you start using keyword arguments, the rest have to be keyword arguments as well.

In [ ]:
# Throws an error
print_name("Alec", last="Chapman", "B.")

When you look at `help(print_name`, you can see that `middle` is defined as a keyword argument because it says `middle=None`. That means that `None` is the default value for this argument, so you can optionally leave it out.

In [ ]:
help(print_name)

In [ ]:
print_name("Alec", "Chapman")

But you can't leave out a positional argument:

In [ ]:
# THROWS AN ERROR
print_name("Alec")

#### TODO

In [ ]:
quiz_keyword_positional_args

## Variables
Now that we know how to use functions, the next tool we'll learn about is **variables**.

Variables are objects whose values can be changed. The opposite of a variable is a **literal**, which is a single specific value like `5` or `"abc"`.

We **declare** a variable using the assignent operator `=`:

```python
var_name = ... 
```

So, for example, we can declare a variable **x** and give it the value of 5. Then we can pass `x` into our `square` function and get the value of `x**2`.

In [ ]:
x = 5
square(x)

Since `x` is a variable, we can change it to a different value so we can run our function using a different value.

In [ ]:
x = 3
square(3)

We can also define a variable using the output of a function.

### TODO
What value will we get with the following code?
```python
x = 3
y = square(x)
x = x - 1
add(x, y)
```

In [ ]:
# RUN CELL TO SEE QUIZ
x_y_changing_var_quiz

#### TODO
Declare two variables, `r` and `pi`. Set `r` equal to 2 and `pi` equal to `3.14`.

In [ ]:
r = __
____

In [ ]:
test_r_equals_2.test(r)

In [ ]:
test_pi_equals.test(pi)

## Datatypes
Variables can be of any Python **datatype**. Here are some examples of data types:

### Integers
Integers are whole numbers. Each of the following cells have an integer.

In [ ]:
1

In [ ]:
x = 3
x

We can add two or more integers using the `+` operator (instead of the `add` function we used earlier - that was just an example):

In [ ]:
x + 5

In [ ]:
x + 5 + 4

Or multiply them with `*`:

In [ ]:
x * 5

... divide them  with `/` (note that it isn't an integer anymore):

In [ ]:
x / 5

... or exponentiate them using `**`:

In [ ]:
x ** x

## Floats
Floats are the other numeric datatype in Python and are a number with a decimal.

In [ ]:
1.3

In [ ]:
pi = 3.14
pi

We can do all the same operations on floats that we did on integers. We can also do those same operations between floats and integers.

In [ ]:
pi + pi

In [ ]:
2 * pi

In [ ]:
pi + x

In [ ]:
pi ** x

We can convert a float to an int and vice-versa:

In [ ]:
int(pi)

In [ ]:
float(2)

#### TODO
What data type is the value: 

```python
r=3
2*r*pi
```

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_data_type_2_pi_r

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_2_pi_r_part2

## Strings
**Strings** represent text. We make a string by wrapping characters in quotation marks:

In [ ]:
"Hello!"

You can also use single quotes (although I personally prefer double-quotes):

In [ ]:
'Hi!'

You can also use **triple-quotes** to span multiple lines in the code:

In [ ]:
# https://www.poetryfoundation.org/poems/42916/jabberwocky
"""
’Twas brillig, and the slithy toves
      Did gyre and gimble in the wabe:
All mimsy were the borogoves,
      And the mome raths outgrabe.

“Beware the Jabberwock, my son!
      The jaws that bite, the claws that catch!
Beware the Jubjub bird, and shun
      The frumious Bandersnatch!”
"""

#### Concatenating strings
We can add strings together to get a longer string:

In [ ]:
first = "Alec"
middle = "B."
last = "Chapman"

In [ ]:
first + " " + middle + " " + last

However, you cannot add a string and numeric objects:

In [ ]:
first + 1

#### TODO
What do you think will happen if you multiply a string and an int? Test it out below.

## Booleans and comparators
**Booleans** can have two possible values: `True` or `False`. These are **logical** values and represent whether some condition holds.

In [ ]:
True

In [ ]:
False

A common way to encounter booleans is through `comparators`, such as whether two values are equal or if one is greater than another.

To check whether two values are equal, we put double equal signs `==` between the two values. If the two values are equal, then this evaluates as `True`. Otherwise, we get `False`.

In [ ]:
x = 3
x == 3

In [ ]:
x == 2

Or we can check whether two values are not equal with `!=`:

In [ ]:
x != 3

In [ ]:
x != 2

To check whether one value is greater than another, we use `>`. If we want to check greater than or equal to, we add an equal sign `>=`.

In [ ]:
x > 1

In [ ]:
x > 3.0

In [ ]:
x >= 3.0

And we do the same for less than but with. `<`

In [ ]:
x < 3.001

In [ ]:
x <= 2.9999

#### TODO
Write code to answer the following questions. Then paste the code to test your answers.

In [ ]:
y = 10
z = 5

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_y_gt_z

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_y_lte_z

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_y_ne_z

### Other boolean operators
We can check more complex conditions using **boolean connectors** like **and**/**or**, as well as the negation operator **not**.

For example, if we have two values we can check whether they are both true using either `&`/`and`:

In [ ]:
(x == 3) and (x > 1)

In [ ]:
(x == 3) & (x < 1)

If we want to check whether either condition is true, we can use `or`/`|`:

In [ ]:
(x == 3) & (x > 1)

In [ ]:
(x == 3) | (x < 1)

We can check whether some value is `False` by putting `not` in front of it. In the examples below, this essentially reverses the conditions above:

In [ ]:
not (x == 3)

In [ ]:
not (x == 2)

In [ ]:
not (True or False)

In [ ]:
# RUN CELL TO SEE QUIZ
quiz_select_all_true

### None
A special data type is the `NoneType`. This is a **null value** and essentially means that the variable doesn't have a value. We'll see more examples of how this is useful in future notebooks.

In [ ]:
None

In [ ]:
x = None

One example we've seen already is that the default value of `middle` in `print_name` is `None`:

In [ ]:
help(print_name)