In [1]:
import pandas as pd
import os
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

sns.set()

In [3]:
from helpers import *

## 0. Read in data
#### TODO
Read in a dataset from `"../data/pna_30_day_mortality.csv"` and save it as `df.

In [4]:
df = pd.read_csv("../data/pna_30_day_mortality.csv")

In [5]:
len(df)

5074

In [6]:
df.head()

,subject_id,hadm_id,disch_dt,dod,sex,ethnicity_descr,age_at_discharge,age_at_discharge_binned,pna,time_discharge_to_death,mortality_30_day
0,56,28766,2644-01-23 00:00:00,2644-01-23 00:00:00,F,WHITE,90.7205,91+,0,0,1
1,37,18052,3264-08-19 00:00:00,3265-12-31 00:00:00,M,WHITE,68.9863,66-90,1,499,0
2,78,15161,2778-03-27 00:00:00,2781-03-11 00:00:00,M,BLACK/AFRICAN AMERICAN,48.6658,36-65,0,1080,0
3,67,35878,2976-11-29 00:00:00,2976-11-29 00:00:00,M,WHITE,73.5397,66-90,0,0,1
4,3,2075,2682-09-18 00:00:00,2683-05-02 00:00:00,M,WHITE,76.6055,66-90,0,226,0

# 5. Survival analysis (Advanced)
As a final, optional exercise if you'd like an additional challenge, implement the [Kaplain-Meier method](https://en.wikipedia.org/wiki/Kaplan%E2%80%93Meier_estimator) from scratch and use it to analyze the post-discharge outcomes for patients in our dataset. This will utilize all the Python skills we've learned today to do a **survival analysis** on our dataset.

### Overview of Kaplan-Meier

#### Step 1: Filter the dataset to patients who did not die in the hospital and died within 30 days. Call it `df_dc` (short for "discharged")

In [40]:
df.head()

,subject_id,hadm_id,disch_dt,dod,sex,ethnicity_descr,age_at_discharge,age_at_discharge_binned,pna,time_discharge_to_death,mortality_30_day,in_hospital_mortality
0,56,28766,2644-01-23 00:00:00,2644-01-23 00:00:00,F,WHITE,90.7205,91+,0,0,1,True
1,37,18052,3264-08-19 00:00:00,3265-12-31 00:00:00,M,WHITE,68.9863,66-90,1,499,0,False
2,78,15161,2778-03-27 00:00:00,2781-03-11 00:00:00,M,BLACK/AFRICAN AMERICAN,48.6658,36-65,0,1080,0,False
3,67,35878,2976-11-29 00:00:00,2976-11-29 00:00:00,M,WHITE,73.5397,66-90,0,0,1,True
4,3,2075,2682-09-18 00:00:00,2683-05-02 00:00:00,M,WHITE,76.6055,66-90,0,226,0,False

In [41]:
df_dc = df.query("0 < time_discharge_to_death")

In [42]:
len(df_dc)

3391

In [43]:
df_dc.head()

,subject_id,hadm_id,disch_dt,dod,sex,ethnicity_descr,age_at_discharge,age_at_discharge_binned,pna,time_discharge_to_death,mortality_30_day,in_hospital_mortality
1,37,18052,3264-08-19 00:00:00,3265-12-31 00:00:00,M,WHITE,68.9863,66-90,1,499,0,False
2,78,15161,2778-03-27 00:00:00,2781-03-11 00:00:00,M,BLACK/AFRICAN AMERICAN,48.6658,36-65,0,1080,0,False
4,3,2075,2682-09-18 00:00:00,2683-05-02 00:00:00,M,WHITE,76.6055,66-90,0,226,0,False
5,26,15067,3079-03-10 00:00:00,3080-12-22 00:00:00,M,UNKNOWN/NOT SPECIFIED,72.0712,66-90,0,653,0,False
8,61,7149,3352-07-26 00:00:00,3353-02-09 00:00:00,M,WHITE,54.7808,36-65,0,198,0,False

#### Step 2: Group the data by time_to_discharge_death

In [44]:
df_daily = df_dc.groupby("time_discharge_to_death").size().sort_index().to_frame("n_deaths").reset_index()

In [45]:
df_daily

      time_discharge_to_death  n_deaths
0                           1        30
1                           2        36
2                           3        22
3                           4        23
4                           5        17
...                       ...       ...
1351                     2612         1
1352                     2622         1
1353                     2654         1
1354                     2677         1
1355                     2735         1

[1356 rows x 2 columns]

#### Step 3: Implement the Kaplan Meier algorithm

In [46]:
total_n_at_risk = len(df_dc)
curr_n_at_risk = len(df_dc)
print(curr_count_at_risk)
total_deaths = []
daily_n_at_risk = []


for i in range(0, len(df_by_day)):
    n_deaths = df_daily.iloc[i]["n_deaths"]
    daily_n_at_risk.append(curr_count_at_risk)
    curr_n_at_risk -= n_deaths
    
    if i > 0:
        total_deaths.append(total_deaths[-1] + n_deaths)
    else:
        total_deaths.append(0 + n_deaths)

NameError: name 'curr_count_at_risk' is not defined

In [ ]:
len(daily_at_risk)

In [ ]:
len(df_daily)

In [ ]:
df_daily["n_at_risk"] = daily_at_risk
df_daily["p_death"] = df_daily["n_deaths"] / df_daily["n_at_risk"]
df_daily["total_died"] = total_deaths
df_daily["p_death_running"] = df_daily["total_died"] / total_n_at_risk

In [ ]:
df_daily.head()

#### TODO
What is the probability of dying within 30 days of discharge?

In [ ]:
df_daily.query("time_discharge_to_death == 30")

#### Step 4: Put it all into a function
 
#### Advanced
If you want to come up with really clean code you could break it up into multiple functions.

In [ ]:
def kaplan_meier(df, max_days=None):
    # Wrangle data
    df_dc = df.query("0 < time_discharge_to_death")
    df_daily = df_dc.groupby("time_discharge_to_death").size().sort_index().to_frame("n_deaths").reset_index()
    
    # Kaplan-Meier algorithm
    total_n_at_risk = len(df_dc)
    curr_n_at_risk = len(df_dc)
    total_deaths = []
    daily_n_at_risk = []

    for i in range(0, len(df_daily)):
        n_deaths = df_daily.iloc[i]["n_deaths"]
        daily_n_at_risk.append(curr_n_at_risk)
        curr_n_at_risk -= n_deaths

        if i > 0:
            total_deaths.append(total_deaths[-1] + n_deaths)
        else:
            total_deaths.append(0 + n_deaths)
            
    
    # Add new columns and return
    df_daily["n_at_risk"] = daily_n_at_risk
    df_daily["p_death"] = df_daily["n_deaths"] / df_daily["n_at_risk"]
    df_daily["total_died"] = total_deaths
    df_daily["p_death_running"] = df_daily["total_died"] / total_n_at_risk
    
    return df_daily

In [ ]:
df_daily = kaplan_meier(df)

#### Step 6
Next let's plot the mortality curve.

In [ ]:
def plot_mortality_curve(df_daily, max_days=None, label=None):
    if max_days is not None:
        df_daily = df_daily.query(f"time_discharge_to_death <= {max_days}")
    ax = sns.lineplot(x="time_discharge_to_death", y="p_death_running", data=df_daily, drawstyle='steps-pre', label=label)
    if label is not None:
        ax.legend()
    return ax

In [ ]:
plot_mortality_curve(df_daily)

In [ ]:
plot_mortality_curve(df_daily, max_days=30)

#### Step 5: Comparing groups
Next, break up your dataset into patients with and without pneumonia and calculate risk of mortality separately. Then consider the following questions:
- What can you say about the difference in 30-day mortality between the two groups?
- For pneumonia patients, which day in the first 30 days has the highest risk?
- Which day has the lowest risk?

In [ ]:
df_daily_pna = kaplan_meier(df.query("pna == 1"))
df_daily_pna_neg = kaplan_meier(df.query("pna == 0"))

In [ ]:
df_daily_pna.tail()

In [ ]:
df_daily_pna.query("time_discharge_to_death == 30")

In [ ]:
df_daily_pna_neg.query("time_discharge_to_death == 30")

In [ ]:
plot_mortality_curve(df_daily_pna, max_days=30, label="Pna (+)")
plot_mortality_curve(df_daily_pna_neg, max_days=30, label="Pna (-)")

In [ ]:
# Day with highest risk
df_daily_pna.query("time_discharge_to_death <= 30").sort_values("p_death", ascending=False)

In [ ]:
# Day with lowest risk
df_daily_pna.query("time_discharge_to_death <= 30").sort_values("p_death", ascending=True)

In [ ]:
ax = sns.lineplot(x="time_discharge_to_death", y="p_death_running", data=df_daily_pna.iloc[:30], drawstyle='steps-pre')
ax = sns.lineplot(x="time_discharge_to_death", y="p_death_running", data=df_daily_pna_neg.iloc[:30], drawstyle='steps-pre')

In [ ]:
sns.lineplot(x="time_discharge_to_death", y="p_death_running", data=df_daily.iloc[:30], drawstyle='steps-pre')

In [ ]:
sns.lineplot(x="time_discharge_to_death", y="p_death_running", data=df_daily, drawstyle='steps-pre')

In [ ]:
len(df[(df["time_discharge_to_death"] <= 30) & (df["time_discharge_to_death"] >0)])